<html>
    <head>
        <link rel="stylesheet" href="./stylesform.css">
    </head>
    <body>
        <h1>New Message Form</h1>
        <form method="POST" action="/new">
            <label for="author_name">Author Name:</label>
            <input type="text" id="author_name" name="author_name"<br><br>
            <label for="message_text">Message Text:</label>
            <input type="text" id="message_text" name="message_text"<br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>